#notepad {
            width: 100%;
            height: 300px;
            font-size: 16px;
            padding: 10px;
            border: 0px solid #ccc;
            box-sizing: border-box;
            resize: none;
        }
        #controls {
            margin-top: 10px;
        }