#toolbar {
  display: flex;
  padding: 10px;
  background-color: #f4f4f4;
  border-bottom: 1px solid #ccc;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.color-palette {
  display: flex;
  margin-left: 10px;
}

.color-square {
  width: 25px;
  height: 25px;
  margin: 0 3px;
  border: 2px solid #ccc;
  cursor: pointer;
  transition: transform 0.2s ease, border 0.2s ease;
}

.color-square:hover {
  border: 2px solid black;
  transform: scale(1.2);
}

#canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

}

#CANVAS {
  border: 1px solid #000;
  background-color: white;
  cursor: crosshair;
}