#taskbar {
 position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
height: 6.3vh;;
  display: flex;
  align-items: center;
  padding: 0 10px;
  background: linear-gradient(135deg, 
    rgba(18, 167, 235, 0.3) 0%, 
    rgba(18, 167, 235, 0.3) 19%, 
    rgba(245, 245, 245, 0.1) 20%, 
    rgba(245, 245, 245, 0.1) 21%, 
    rgba(18, 167, 235, 0.3) 22%, 
    rgba(18, 167, 235, 0.3) 39%, 
    rgba(40, 180, 245, 0.7) 40%, 
    rgba(40, 180, 245, 0.7) 41%, 
    rgba(18, 167, 235, 0.3) 42%, 
    rgba(18, 167, 235, 0.3) 59%, 
    rgba(40, 180, 245, 0.7) 60%, 
    rgba(40, 180, 245, 0.7) 61%, 
    rgba(18, 167, 235, 0.3) 62%, 
    rgba(18, 167, 235, 0.3) 79%, 
    rgba(40, 180, 245, 0.7) 80%, 
    rgba(40, 180, 245, 0.7) 81%, 
    rgba(18, 167, 235, 0.3) 82%, 
    rgba(18, 167, 235, 0.3) 100%
  );
  backdrop-filter: blur(15px);
  box-shadow: 0 -1px 5px rgba(0,0,0,0.3), inset 0 1px 0 rgba(200,225,255,0.5);
  transform: skew(-5deg);
}

.start-menu-item {
    position: relative;
    margin-top: 15px; 
    background-color: transparent; 
    border: none;
}
.taskbar-buttons {
    display: flex;
    gap: 0.32vh;
    top: 0;
    left: 50px;
    position: relative;
}
.taskbar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60px;
    height: 5.208vh;
    cursor: pointer;
    background-color: transparent;
    border-radius: 0.32vh;
     transition: all 0.3s ease;
}
.taskbar-button img {
    width: 30px;
    height: 30px;  
}
.taskbar-button:hover {
    background-color: rgba(192, 192, 192, 0.5);
}
#start-menu-item {
    padding-left: 300px; 
    padding-top: 45px;
}
