
        #webcam-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border: 0.32vh solid #ffffff;
        }
        #webcam {
            width: 100%;
            height: 100%;
            border: 1px solid #ffffff; 
        }
        #screenshot {
            width: 100%;
            height: 100%;
            margin-top: 20px;
            border: 0.32vh solid #ffffff;
            display: none;
        }